<!-- This structure signifies a special code used
by the rendering engine jinja to use python code and variables
within the html file -->
{% extends "base.html" %}

{% block style %}

.pagination .active a {
	background-color: #2b2b2b;
	border: 1px solid rgb(60,60,60);
}

.pagination .active a:hover {
	background-color: #2b2b2b;
	border: 1px solid rgb(60,60,60);

}

.pagination li a {
	color: #2b2b2b;
	border: 1px solid rgb(60,60,60);
	background-color: #BFAF80;
}

.pagination li a:hover {
	color: white;
	border: 1px solid rgb(60,60,60);
	background-color: #2b2b2b;

}

.article-icon {
	margin-right: 5px;
	padding-bottom: 2px;
	height: 100%;
}

#post {
	margin-bottom: 10px;
	margin-top: 10px;
	width: 100%;
	border: 0px solid;
	background-color: #675d40;
	border-radius: 10px;
	color: white;
	font-size: 36px;
	padding: 2px;
	box-shadow: 3px 3px 1px #333333;
}

#post:hover {
	background-color: #363021;
}

.bg {
	padding: 10px;
	background-color: #afbf80;
	border-radius: 10px;
	margin-bottom: 8px;
	margin-right: 8px;
	box-shadow: 4px 4px 1px #333333;
}

.bg a.comment {
	color: #333333;
}


.comment {
	width: 100%;
	margin-top: 5px;
	background-color: rgba(0,0,0,0.1);
	border: 0px solid black;
	border-radius: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.comment:hover {
	background-color: rgba(0,0,0,0.2);
	color: white;
}

.title {
	color: black;
	font-size: 13px;
	font-style: bold;
	margin-bottom:10px;
}

.nounder {
	text-decoration: none;
}

.nounder:hover {
	text-decoration: none;
}

.a1 {
	background-color: #bfaf80;
}

.a2 {
	background-color: #bfa080;
}



.a3 {
	background-color: #bfbf80;
}



.a4 {
	background-color: #bf9080;
}

.tag:hover {
	color: rgba(0,0,0,0.5);
}

.tag {
	color: rgba(0,0,0,0.4);
}

.glyphicon-star {
	font-size: 19px;
}

{% endblock %}

{% block login %}
	{{ super() }}
{% endblock %}

{% block body %}

<!-- The start of the actual body -->
<div class="container" role="main">
<!-- Where the user can press to post an article -->
	<div class="row">
		<a href="/postArticle" class="btn btn-lg btn-success nounder" id="post">POST AN ARTICLE</a>
	</div>

	<div class="row">
		{% for column in rows %}
		<div class="col-sm-3">
			{% for article in column %}
			<div class="row">
				<div class="bg {{article.style}}">
					<div style="float:left" class="article-icon">
						<img src="/static/icon_doc.png">
					</div>
					<a href="{{article.articleURL}}" class="nounder">
						<div class="title"><b>{{article.title}}</b></div>
					</a>
					<img src="/static/icon_tag.png">
					{% for tag in article.tag %}
						<a href="/tag/{{tag}}" class="nounder tag"><b>{{tag}},</b></a>
					{% endfor %}
					<a href="/{{article.commentURL}}" class="btn comment">{{article.comments}}</a>
					{% if session.logged_in %}
					<a href="#" onClick="favorite('{{article.articleURL}}', '{{article.commentURL}}')"><span class="glyphicon glyphicon-star" id="{{article.commentURL}}" style="color:{{article.favorite}}"></span></a> <b>Favorite</b>
					{% endif %}
				</div>
			</div>
			{% endfor %}
		</div>
		{% endfor%}
	</div>

	<div class="row">
		<a href="/postArticle" class="btn btn-lg btn-success nounder" id="post">POST AN ARTICLE</a>
	</div>

	
</div>

<div class="container">
	<ul id="pages">
	</ul>	
</div>

{% endblock %}

{% block script %}

<script type="text/javascript">
	var options = {
		// more jinja code based on page number and articles
		currentPage: {{page}},
		totalPages: {{totalPages}},
		bootstrapMajorVersion: 3,
		pageUrl: function(type, page, current){
        	return "/page/"+page;
    	}
	}

	$('#pages').bootstrapPaginator(options);

	function favorite(artname, idn) {
		$.ajax({
             type: "POST",
             url: "/page/1",
             data: {'fav': artname},
             success: function(msg) {
             	if (msg == "Yes")
             	{
             		$('#' + idn).css('color', 'rgba(255,255,255,0.75)');
             	}
             	else if (msg == "No")
             	{
             		$('#' + idn).css('color', 'rgba(0,0,0,0.2)');
             	}
             	else {
             		alert(msg);
             	}
             }
          });
	}

</script>

{% endblock %}