<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">

		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>Science Watch - Home</title>

		<link rel="stylesheet" href="/static/css/bootstrap.min.css">

		<style type="text/css">
			body {
				background-color: rgb(50,50,50);
			}
			.dropdown-menu { 
				min-width: 250px;
			}
			.form-control {
				margin-bottom: 5px;
			}
			.article-link {
				  position:absolute; 
/*				  min-width:90%;
*/				  width: 90%;
				  height:225px;
				  top:0;
				  left: 0;
				  /* edit: added z-index */
				  z-index: 1;
				  background: rgb(240,240,240);
				  border-radius: 10px;
				  padding: 10px;
			}

			a {
				color: rgb(100,100,100);
			}

			a:hover {
				color: rgb(20,150,20);
			}

			.article-icon {
				width:50%; 
				margin: auto; 
				display: block;
			}



			.discuss {
				float: left;
				text-align: left;
				padding: 10px;
			}

			.favorite {
				text-align: right;
				padding: 10px;
			}

			.title {
				text-align: center;

			}


		</style>

	</head>

	<body>
		<!-- Top nav bar -->
		<div class="navbar navbar-default navbar-static-top" role="navigation">
			<div class="container">
      			<div class="navbar-header">
	            	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            		<span class="sr-only">Toggle navigation</span>
	            		<span class="icon-bar"></span>
	            		<span class="icon-bar"></span>
	            		<span class="icon-bar"></span>
	          		</button>
	          		<a class="navbar-brand" href="#">Science Watch</a>
        		</div>

        		<div class="navbar-collapse collapse">
		          <ul class="nav navbar-nav">
		            <li class="active"><a href="#">Home</a></li>
		            <li><a href="#about">About this Project</a></li>
		            <li class="dropdown">
		              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories<b class="caret"></b></a>
		              <ul class="dropdown-menu">
		                <li><a href="#">Neuroscience</a></li>
		                <li class="divider"></li>
		                <li><a href="#">Computer Science</a></li>
		                <li class="divider"></li>
		                <li><a href="#">Systems</a></li>
		                <!-- <li class="dropdown-header">Nav header</li> -->
		              </ul>
		            </li>
		          </ul>
		          <ul class="nav navbar-nav navbar-right">
        			  <li>
        			  	<a href="/register">Register</a>

        			  </li>
        			  <!-- The sign in form -->
			          <li class="dropdown">
            			<a class="dropdown-toggle" href="#" data-toggle="dropdown">Log In</a>
            			<div class="dropdown-menu" style="padding: 10px">
              				<!-- Login form here -->
              				<form name="login" class="form-signin" method="post" role="form">
		           				<input type="text" name="user" class="form-control" placeholder="Username">
		            			<input type="password" name="pwd" class="form-control" placeholder="Password">
		            			<input class="btn btn-sm btn-info" type="submit" value="Sign In" style="width: 100%">
		            		</form>
            			</div>
          			</li>
          			<li><a href="/logout">Log Out</a></li>
        		  </ul>
		          
		        </div>
        	</div>
		</div>


		<!-- The start of the actual body -->
		<div class="container" role="main">
			<div class="row">
				<div class="col-md-3" >
					<a href="http://journal.frontiersin.org/Journal/10.3389/fnsys.2014.00040/full">
						<span class="article-link">
							<img src="/static/article.png" class="article-icon">
							<div class="title">The effects of disrupting half a brain</div>
							<div class="discuss">
								Comment
							</div>
							<div class="favorite">
								Favorite
							</div>
						</span>
					</a>
				</div>
				<div class="col-md-3" >
					<a href="http://journal.frontiersin.org/Journal/10.3389/fnsys.2014.00027/full">
						<span class="article-link">
						<img src="/static/article.png" class="article-icon">
							<div class="title">Dynamics of cortex</div>
							<div class="discuss">
								Comment
							</div>
							<div class="favorite">
								Favorite
							</div>
						</span>
					</a>
				</div>
				<div class="col-md-3" >
					<a href="http://www.nature.com/news/neuroscience-tuning-the-brain-1.14900">
						<span class="article-link">
						<img src="/static/article.png" class="article-icon">
							<div class="title">Tuning the brain</div>
							<div class="discuss">
								Comment
							</div>
							<div class="favorite">
								Favorite
							</div>
						</span>
					</a>
				</div>
				<div class="col-md-3" >
					<a href="http://www.nature.com/nature/journal/v507/n7492/full/nature13078.html">
						<span class="article-link">
						<img src="/static/article.png" class="article-icon">
							<div class="title">Next generation radar systems</div>
							<div class="discuss">
								Comment
							</div>
							<div class="favorite">
								Favorite
							</div>
						</span>
					</a>
				</div>
			</div>

			<!-- <div class="page-header">
				<h1>Today on Science Watch</h1>
			</div> -->


		</div>
		

		<script src="/static/js/jquery-1.11.0.min.js"></script>

		<script src="/static/js/bootstrap.min.js"></script>
	</body>

</html>