{% extends "base.html" %}

{% block style %}
.dropdown-menu { 
	min-width: 250px;
}

.form-control {
	margin-bottom: 5px;
}
.form-signin {
	margin: 10px;
}
#login {
	margin-bottom: 0px;
	border: none;

}
{% endblock %}

{% block login %}
	{{ super() }}
{% endblock %}

{% block body %}

{% if session.logged_in %}
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<form name="article" class="form-signin" method="post" role="form">
				<h3>Put the  title and link to the article here (preferably a link to the full article): </h3><br>
				<input type="text" name="title" class="form-control" placeholder="title: limit 50 characters" maxlength="50" required>
				<input type="text" name="artUrl" class="form-control" placeholder="url" required>
				<select name="tag">
					<option value="neuroscience">Neuroscience</option>
					<option value="biology">Biology</option>
					<option value="systems-dynamics">Systems Dynamics</option>
					<option value="science">Science</option>
				</select>
				<input type="submit" class="btn btn-success" value="Post article">
			</form>
		</div>
	</div>
</div>

{% else %}

<h1>Please sign in to post an article</h1>

{% endif %}

{% endblock %}